<app-propertImage-galary [propertyId]="propertyId"></app-propertImage-galary>


 <div class="property-details-box mt-2">
  <div class="row ">
      <div class="col-md-8">
        <!-- property info, description, amenities, etc. -->
        <app-amenities-section [propertyId]="propertyId"></app-amenities-section>
      </div>
      <div class="col-md-4 fixed-reserve">
        <!-- <app-reverse-section ></app-reverse-section> -->
      </div>
  </div> 
  <div class="bookinCalender">
    <div class="row">
      <div class="col-md-8">

            <app-BookingCalendar 
                  [propertyId]="propertyId"
                  (dateSelected)="onDateSelected($event)">
            </app-BookingCalendar>

      </div>
      <div class="col-md-4">

        <app-reverse-section   
        [propertyId]="propertyId"
                [checkIn]="selectedDates.start"
                [checkOut]="selectedDates.end"
                [guests]="guestCount"
                (guestChange)="onGuestChange($event)">
        </app-reverse-section>


      </div>
      <!-- <div class="reviewSection">
        <app-guest-reviews [propertyId]="propertyId"></app-guest-reviews> 
      </div> -->

      <div class="mapSection mt-15">
            <app-mapLocation [propertyId]="propertyId"></app-mapLocation>
      </div>
    </div>
  </div>
</div>




<div class="property-container">
  <!-- Loading State -->
  <div *ngIf="isLoading" class="loading-state">
    <div class="spinner"></div>
  </div>

 

  <!-- Property Content -->
  <div *ngIf="propertyId && !isLoading" class="property-content">
    <h1>{{ property.title }}</h1>
    <p>{{ property.description }}</p>
    
    <!-- Navigation Tabs -->
    <div class="tabs">
      <button 
        [class.active]="activeTab === 'gallery'"
        (click)="changeTab('gallery')">
        Gallery
      </button>
      <button 
        [class.active]="activeTab === 'reviews'"
        (click)="changeTab('reviews')">
        Reviews
      </button>
      <button 
        [class.active]="activeTab === 'amenities'"
        (click)="changeTab('amenities')">
        Amenities
      </button>
    </div>
    
    <hr style="color: black; width: 5px;">
      </div>

  <app-guest-reviews [propertyId]="propertyId"></app-guest-reviews>
</div>
