

html {
  overflow-x: hidden;
}

.sticky-box {
  position: sticky;
  top: 100px; /* distance from top before it sticks */
  z-index: 100;
}

/* * {
  outline: 1px solid red;
} */

/* styles.css or component.scss */
body {
  overflow-x: hidden;
}
:host {
  display: block;
  overflow-x: hidden;
}

.property-details-box {
  /* border: 2px solid lightblue; */
  border-radius: 10px;
  padding: 0px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;

}
.bookinCalender{
  max-width: 1200px;

}

.row {
  margin: 0; /* Avoid negative margin causing overflow */
}

.col-md-8,
.col-md-4 {
  padding: 0 8px;
}

.tabs {
  display: flex;
  gap: 8px;
}

.tabs button {
  flex: 1 1 auto;
  min-width: 100px;
  padding: 10px;
  white-space: nowrap;
}
