<app-propertImage-galary [propertyId]="propertyId"></app-propertImage-galary>


<div class="container-lg d-flex flex-column">

  <div class="property-details-box mt-2 d-flex justify-content-between ">
    <div class="d-flex flex-column ">
      <div class="col-md-12">
        <!-- property info, description, amenities, etc. -->
        <app-amenities-section 
        [propertyId]="propertyId"
        [property]="selectedProperty"
        ></app-amenities-section>
      </div>
      <div class="col-md-12 fixed-reserve">
        <!-- <app-reverse-section ></app-reverse-section> -->
        <div class="col-md-12">

          <app-BookingCalendar 
              [propertyId]="propertyId" 
              [checkIn]="selectedDates.start" 
              [checkOut]="selectedDates.end"
              [dateMap]="dateMap"
            (datedChange)="onDateChange($event)">
          </app-BookingCalendar>

        </div>
      </div>
    </div>
    <div  class="bookinCalender  position-relative" style="position: relative !important;">
      <!-- <div class="row"> -->
      <!-- <div class="col-md-8">

        <app-BookingCalendar [propertyId]="propertyId" [checkIn]="selectedDates.start" [checkOut]="selectedDates.end"
          (datedChange)="onDateChange($event)">
        </app-BookingCalendar>

      </div> -->
      <div class="col-md-12 sticky-box" style="position: sticky; top: 90px; ">

        <app-reverse-section 
          [dateMap]="dateMap"
          [propertyId]="propertyId"
          [checkIn]="selectedDates.start"
          [checkOut]="selectedDates.end"
          [guests]="guestCount" 
          [isPreview] = "isPreview"
          (guestChange)="onGuestChange($event)" 
          (dateChange)="onDateChange($event)"
          >
        </app-reverse-section>


      </div>
      <!-- <div class="reviewSection">
        <app-guest-reviews [propertyId]="propertyId"></app-guest-reviews> 
      </div> -->


      <!-- </div> -->
    </div>
  </div>


  <div class="mapSection mt-15 mx-auto col-12">
    <app-mapLocation [propertyId]="propertyId"></app-mapLocation>
  </div>
</div>

<div class="property-container">
  <!-- Loading State -->
  <div *ngIf="isLoading" class="loading-state">
    <div class="spinner"></div>
  </div>



  <!-- Property Content -->
  <div *ngIf="propertyId && !isLoading" class="property-content">
    <h1>{{ property.title }}</h1>
    <p>{{ property.description }}</p>

    <!-- Navigation Tabs -->
    <div class="tabs">
      <button [class.active]="activeTab === 'gallery'" (click)="changeTab('gallery')">
        Gallery
      </button>
      <button [class.active]="activeTab === 'reviews'" (click)="changeTab('reviews')">
        Reviews
      </button>
      <button [class.active]="activeTab === 'amenities'" (click)="changeTab('amenities')">
        Amenities
      </button>
    </div>
    <hr style="color: black; width: 5px;">
   </div>

  <app-guest-reviews [propertyId]="propertyId"></app-guest-reviews>
</div>
