.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.confirm-box {
  background: #fff;
  color: #222;
  padding: 24px 20px;
  border-radius: 10px;
  width: 90%;
  max-width: fit-content;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeInUp 0.3s ease;
}

.confirm-box h3 {
  margin-top: 0;
  margin-bottom: 12px;
}

.confirm-box p {
  margin: 0 0 20px;
}

.confirm-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.confirm {
  color: white;
}
.confirm-success {
  background: linear-gradient(to right, #28a745, #218838);
}
.confirm-success:hover {
  background: linear-gradient(to right, #218838, #28a745);
}
.confirm-danger {
  background-color: #e23a3a;
}

.cancel {
  background-color: #ccc;
  color: #333;
}

.cancel:hover {
  background-color: #b0b0b0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dark-mode .confirm-box {
  background: #2a2a2a;
  color: white;
}

.dark-mode .cancel {
  background-color: #444;
  color: white;
}

.dark-mode .confirm {
  background-color: #e23a3a;
}
