hr {
    width: 80%; /* Consistent width for horizontal rules */
    border: none;
    border-top: 1px solid #1b1a1a; /* Lighter, more subtle line */
    margin: 24px 0; /* Adjust margin for spacing */
    margin-left: 0;
    color: #171717;
    align-items: center;
    margin-left: 50px;

}



:host ::ng-deep .leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
