

hr {
    width: 80%; 
    border: none;
    border-top: 1px solid #1b1a1a; 
    margin: 24px 0; 
    margin-left: 0;
    color: #171717;
    align-items: center;
    margin-left: 50px;

}

.title{
  font-weight: bold;
  font-size: 25px !important;

}

.info{
  /* font-weight: bold; */
  font-size: 18px;
}


:host ::ng-deep .leaflet-container {
  width: 1200px !important;
  height: 500px !important;
  border-radius: 15px !important;
  margin: 10px !important;
}
