<div
  class="modal fade show d-block"
  tabindex="-1"
  [ngClass]="{ 'd-none': !isVisible }"
  [ngStyle]="modalStyle"
  [ngClass]="modalClass"
  (click)="onClose()"
  (wheel)="$event.stopPropagation()"
>
  <div
    class="modal-dialog modal-dialog-centered p-2"
    (click)="$event.stopPropagation()"
    [ngStyle]="modalDialogStyle"
    [ngClass]="modalDialogClass"
  >
    <div
      class="modal-content"
      [ngStyle]="modalContentStyle"
      [ngClass]="modalContentClass"
    >
      <!-- Header -->
      <div class="modal-header primary-text position-relative">
        <button
          *ngIf="showCloseBtn"
          class="primary-text border-0 bg-transparent position-absolute start-0 ms-3"
          aria-label="Close"
          (click)="onClose()"
        >
          <i class="bi bi-x fs-4"></i>
        </button>
        <h5 class="modal-title mx-auto">{{ title }}</h5>
      </div>

      <!-- Body -->
      <div class="modal-body overflow-y-auto">
        <ng-content></ng-content>
      </div>

      <!-- Footer -->
      <div class="modal-footer footer">
        <ng-content select="[modalFooter]"></ng-content>
      </div>
    </div>
  </div>
</div>
