<div class="profile">
  <nav>
    <ul>
      <li>
        <h1>{{ "profile.title" | translate }}</h1>
      </li>
      <li>
        <a
          (click)="selectedSection = 'aboutMe'"
          [ngClass]="{ active: selectedSection === 'aboutMe' }"
        >
          <span class="letter" *ngIf="ifImg === ''" [ngStyle]="{ padding: '4px' }">{{
            user?.charAt(0)?.toUpperCase() || "K"
          }}</span>
          <img *ngIf="ifImg" [src]="img" alt="user-img" class="user-img" />
          <span>{{ "profile.aboutMe" | translate }}</span>
        </a>
      </li>
      <li>
        <a
          (click)="selectedSection = 'travels'"
          [ngClass]="{ active: selectedSection === 'travels' }"
        >
          <i class="bi bi-bag"></i>
          {{ "profile.travels" | translate }}
        </a>
      </li>
    </ul>
  </nav>

  <main>
    <div class="about-me" *ngIf="selectedSection === 'aboutMe'">
      <h1>
        {{ "profile.aboutMe" | translate }}
        <a href="#" routerLink="/update-profile/{{ userId }}">{{
          "profile.edit" | translate
        }}</a>
      </h1>
      <div class="user-info">
        <div class="user-img">
          <img *ngIf="ifImg" [src]="img" alt="user-img" />
          <span class="initial-letter" *ngIf="!ifImg">{{
            user?.charAt(0)?.toUpperCase() || "K"
          }}</span>
          <span
            class="name"
            >{{ `${user?.charAt(0)?.toUpperCase()}${user?.slice(1)}` }}</span
          >
          <span>{{ roles }}</span>
        </div>
        <div class="user-details">
          <p *ngIf="country"><i class="bi bi-geo-alt"></i> {{ country }}</p>
          <br />
          <hr />
          <a href="#" routerLink="/your-reviews">
            <i class="bi bi-chat-right-text"></i>
            <span>
              {{ "profile.yourReviews" | translate }}
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="travels" *ngIf="selectedSection === 'travels'"></div>
  </main>
</div>
