.slider-wrapper {
  position: relative;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  width: 100%; 
}

.card-container {
  overflow-x: auto;
  scroll-behavior: smooth;
  display: flex;
  gap: 16px;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.card-container::-webkit-scrollbar {
  display: none;
}

/* .card-item {
  scroll-snap-align: start;
  flex-shrink: 0;
  transition: transform 0.3s ease;
} */
.card-container>* {
  scroll-snap-align: start;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.nav {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 10px;
}

.nav:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
