<div class="airbnb-calendar-container mt-5">
    <div class=" mt">
          <h2>2 nights in L'Hospitalet de Llobregat</h2>
          <!-- <p>{{ checkIn | checkin: 'MMM d, y' }} - {{ checkOut | date: 'MMM d, y' }}</p> -->
    </div>
    <ngx-daterangepicker-material
      [locale]="locale"
      [linkedCalendars]="false"
      [alwaysShowCalendars]="true"
      [singleDatePicker]="false"
      [showCustomRangeLabel]="false"
      [autoApply]="true"
      [minDate]="minDate"
      [isInvalidDate]="isInvalidDate"
      [(ngModel)]="selectedDateRange"
      (datesUpdated)="datesUpdated($event)"
    >
    </ngx-daterangepicker-material>

    <a class="report-link mt-3" href="#" (click)="clearDates()">Clear Dates</a>
  </div>
