<div class="airbnb-calendar-container mt-1 px-0">
  <div class="mb-4">
    <h2 class="titlecalender mb-4">2 nights in L'Hospitalet de Llobregat</h2>
    <!-- <p>{{ checkIn | checkin: 'MMM d, y' }} - {{ checkOut | date: 'MMM d, y' }}</p> -->
  </div>
  <ngx-daterangepicker-material
    [minDate]="minDate"
    [maxDate]="maxDate"
    
    ngxDaterangepickerMd
    #picker
    (choosedDate)="onDatesChanged($event)"
    [isInvalidDate]="isInvalidDate"
    [showClearButton]="true"
    [linkedCalendars]="true"
    [alwaysShowCalendars]="true"
    [autoApply]="true"
    [locale]="locale"
    (startDateChanged)="onStartDateChange($event)"
  ></ngx-daterangepicker-material>
  <!-- <ngx-daterangepicker-material
    *ngIf="showPicker"
    #picker
    (choosedDate)="onDatesChanged($event)"
    [isInvalidDate]="isInvalidDate"
    [showClearButton]="true"
    [linkedCalendars]="true"
    [alwaysShowCalendars]="true"
    [ranges]="ranges"
    [autoApply]="true"
    [locale]="locale"
    (startDateChanged)="onStartDateChange($event)"
        ></ngx-daterangepicker-material> -->

  <!-- (choosedDate)="onDateRangeSelected($event)" -->
  <!-- <input
    class="custom-date-input"
    ngxDaterangepickerMd
    [(ngModel)] = "selected"
    [ariaSelected]=""
    [showCustomRangeLabel]="false"
    [showClearButton]="false"
    [linkedCalendars]="true"
    [alwaysShowCalendars]="true"
    [ranges]="ranges"
    [locale]="locale"
    [showCancel]="false"
    [showDropdowns]="true"
    [locale]="locale"
    [ranges]="ranges"
    (datesUpdated)="onDatesChanged($event)"
    [autoApply]="true"
    /> -->

  <!-- <div class="bg-danger text-black"> <p>{{selected.startDate.toDate()}}</p></div> -->
  <!-- <ngx-daterangepicker-material
      [locale]="locale"
      [linkedCalendars]="true"
      [alwaysShowCalendars]="true"
      [singleDatePicker]="false"
      [showCustomRangeLabel]="false"
      [autoApply]="true"
      [minDate]="minDate"
      [isInvalidDate]="isInvalidDate"
      [(ngModel)]="selectedDateRange"
      (datesUpdated)="datesUpdated($event)"
    >
    </ngx-daterangepicker-material> -->

  <!-- <a class="report-link mt-3"  (click)="clearDates()">Clear Dates</a> -->
</div>
