/* .noscroll {
  max-height: 100vh !important;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

.noscroll {
  overflow: hidden;
  /* position: fixed; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (min-width: 1023px) {
  .noscroll {
    max-height: 100vh !important;
    position: fixed !important;
  }
}
