<div
  class="overlay"
  *ngIf="dialogService.isDialogOpen('login')"
  (click)="close()"
>
  <div class="dialog" (click)="$event.stopPropagation()">
    <div class="dialog-header">
      <span *ngIf="user">
        {{ "login.welcome" | translate }} {{ user }}
      </span>
      <i class="icon-close" (click)="close()">×</i>
    </div>

    <div class="last-info" *ngIf="img || lastLoginEmail">
      <ng-container *ngIf="ifImg; else initialLetter">
        <img [src]="img" alt="user-img" />
      </ng-container>

      <ng-template #initialLetter>
        <h1 *ngIf="user">{{ user.charAt(0).toUpperCase() }}</h1>
      </ng-template>

      <p *ngIf="lastLoginEmail">{{ maskEmail(lastLoginEmail) }}</p>
    </div>

    <div class="dialog-content">
      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <div class="form-group">
          <div class="email">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="{{ 'login.email' | translate }}"
              required
              [(ngModel)]="email"
            />
          </div>
          <div class="pass">
            <input
              [type]="togglePass ? 'text' : 'password'"
              id="password"
              name="password"
              placeholder="{{ 'login.password' | translate }}"
              required
              [(ngModel)]="password"
            />
            <a href="#" (click)="showPass()">
              {{ "login.showPass" | translate }}
            </a>
          </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid">
          {{ "login.login" | translate }}
        </button>
      </form>
    </div>

    <div class="dialog-footer">
      <a href="#" (click)="switchToForgot()">
        {{ "login.goTOForgotPassword" | translate }}
      </a>
      <span>
        {{ "login.notYou" | translate }}
        <a href="#" (click)="switchToRegister()">
          {{ "login.goToRegister" | translate }}
        </a>
      </span>
    </div>
  </div>
</div>
