
    <div class="main-container py-5">
        <div class="hostMessage">
            <!-- Left Column - Contact Information -->
            <div class="left-column ">
                <a href="#" class="back-button">
                    <svg class="back-arrow" viewBox="0 0 16 16">
                        <path d="m10.5 13.5-5-5 5-5"></path>
                    </svg>
                    Back
                </a>

                <div *ngIf="hostProfile" class="host-section">
                    <div class="host-header">
                        <h1 class="host-title">{{ hostProfile.firstName }} {{ hostProfile.lastName }}</h1>
                        <div class="new">Host since {{ hostProfile.createdAt | date: 'longDate' }}</div>
                        <div class="host-avatar"><img [src]="hostProfile.profilePictureURL" alt="Host" class="rounded-circle me-3" width="60" height="60"></div>
                    </div>
                    <p class="response-time">Typically responds within an hour</p>
                </div>

                <div class="faq-section">
                    <h2 class="faq-title fs-3 fw-bolder">Most travelers ask about</h2>
                    
                    <div class="faq-item">
                        <h3 class="faq-question">Getting there</h3>
                        <ul style="list-style: disc;">
                            <li>Free parking on the premises.</li>
                            <li>
                                Check-in time for this home starts at 1:00 PM and checkout is at 11:00 AM.
                            </li>
                        </ul>
                    </div>

                    <div class="faq-item">
                        <h3 class="faq-question">House details and rules</h3>
                        <ul class="faq-list">
                            <li class="faq-answer">No parties or events. No pets.</li>
                        </ul>
                    </div>

                    <div class="faq-item">
                        <h3 class="faq-question">Price and availability</h3>
                        <div class="faq-answer">
                            <ul>
                                    <li 
                                        style="margin-top: 8px;"
                                        *ngIf="startDate && endDate"
                                    >Home is available from {{startDate.format("MMM DD YY")}} – {{endDate.format("MMM DD YY")}}. Book soon.</li>
                                    <li 
                                        style="margin-top: 8px;"
                                    >Cancel up to 24 hours before check-in and get a full refund. After that, cancel before check-in and get a full refund, minus the first night and service fee.</li>
                        
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="message-section">
                    <h2 class="message-title">Still have questions? Message the host</h2>
                    
                    <form 
                        class="message-form"
                        (click)="onSendMessage()"
                    >
                        <textarea 
                            class="message-textarea" 
                            placeholder="Hi! I'll be visiting..."
                            name="message"
                            [(ngModel)] = "message"
                            (ngModelChange)="onModelChange()"
                            >
                        </textarea>
                        <div 
                            class="d-flex justify-content-end"
                            
                        >
                            <span 
                                *ngIf="message.length> 0 && (!startDate || !endDate)"
                                class="small text-danger"    
                            >Select your dates</span>
                        </div>
                        <button 
                            class="btn send-button"
                            type="submit" 
                            [disabled]="message.length<1 || !endDate || !startDate || isRequestLoading"
                            >
                            <span *ngIf="isRequestLoading" class="btn-loader"></span>

                        Send message</button>
                    </form>
                </div>
            </div>

            <!-- Right Column - Your Angular Component -->
            <div *ngIf="showReservationBox" class="col-md-4" style="position: sticky; top: 90px;">

                <app-reverse-section
                    [dateMap]="dateMap"
                    [propertyId]="propertyId"
                    [checkIn]="startDate"
                    [checkOut]="endDate"
                    [guests]="{adults:guests,children:children}"
                    [isPreview]="false"
                    (guestChange)="onGuestChange($event)"
                    (dateChange)="onDateChange($event)"
                >
                </app-reverse-section>
            </div>
        </div>
    </div>
