<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 p-0">
      <app-messages-box
        (chatSessionSelected)="onChatSessionSelected($event)"
      ></app-messages-box>
    </div>

    <!-- Show loading state -->
    <div class="col-md-9 p-0" *ngIf="isLoadingChat">
      <app-chat-loading></app-chat-loading>
    </div>

    <div class="col-md-9 p-0" *ngIf="!hasChatSelected">
      <app-chat-placeholder></app-chat-placeholder>
    </div>

    <ng-container *ngIf="hasChatSelected">
      <div  [ngClass]="false ? 'col-md-9' : 'col-md-6'" class="p-0">
        <app-chat-box
          [selectedChatSession]="selectedChatSession"
          [initialMessages]="initialMessages"
        ></app-chat-box>
      </div>
      <div class="col-md-3 p-0" >
        <app-reservation-box
          [selectedChatSession]="selectedChatSession"
          [ReservationWithProperty]="ReservationWithProperty"
        ></app-reservation-box>
      </div>
    </ng-container>
  </div>
</div>
