
<div class="container col-12 col-md-12 col-xl-11 mx-auto list-container">
    <!-- <app-slider [cardsPerView]="5" [cardPerSlide]="2">
        <app-loading-cards [numberOfCards]="40"></app-loading-cards>
    </app-slider> -->

    <!-- <app-slider
        [cardsPerView]="8"
        class="d-flex  col-12"
    >
    <app-slider-card
        *ngFor="let item of listings"
            style="scroll-snap-align: start;"
            [imageUrl]="item.imageUrl"
            [title]="item.title"
            [subtitle]="item.subtitle"
            [price]="item.price"
            [rating]="item.rating"
            [isFavorite]="item.isFavorite"
        ></app-slider-card> -->
    <!-- </div> -->
<!-- </app-slider> -->


<!-- <app-slider
[cardsPerView]="5"
> -->
    <!-- style="scroll-snap-align: start;" -->
    <!-- class="card-item" -->
    <!-- <app-slider-card
        *ngFor="let item of listings"
            [imageUrl]="item.imageUrl"
            [title]="item.title"
            [subtitle]="item.subtitle"
            [price]="item.price"
            [rating]="item.rating"
            [isFavorite]="item.isFavorite"
        ></app-slider-card>
</app-slider>

<button class="btn btn-primary" (click)="toggleShow()">{{show? "hide":"show"}}</button> -->
<!-- <app-modal
    [title]="'Modal'"
    [isVisible]="false"
    [modalContentClass]="'rounded rounded-5 border-0'"
    (close)="toggleShow()"
    >
        <app-slider
            [cardsPerView]="5"
            >
            <app-slider-card
                *ngFor="let item of listings"
                    [imageUrl]="item.imageUrl"
                    [title]="item.title"
                    [subtitle]="item.subtitle"
                    [price]="item.price"
                    [rating]="item.rating"
                    [isFavorite]="item.isFavorite"
            ></app-slider-card>
        </app-slider>
        <app-slider
            [cardsPerView]="5"
            >
            <app-slider-card
                *ngFor="let item of listings"
                    [imageUrl]="item.imageUrl"
                    [title]="item.title"
                    [subtitle]="item.subtitle"
                    [price]="item.price"
                    [rating]="item.rating"
                    [isFavorite]="item.isFavorite"
            ></app-slider-card>
        </app-slider>
        <app-slider
            [cardsPerView]="5"
            >
            <app-slider-card
                *ngFor="let item of listings"
                    [imageUrl]="item.imageUrl"
                    [title]="item.title"
                    [subtitle]="item.subtitle"
                    [price]="item.price"
                    [rating]="item.rating"
                    [isFavorite]="item.isFavorite"
            ></app-slider-card>
        </app-slider>
        <app-slider
            [cardsPerView]="5"
            >
            <app-slider-card
                *ngFor="let item of listings"
                    [imageUrl]="item.imageUrl"
                    [title]="item.title"
                    [subtitle]="item.subtitle"
                    [price]="item.price"
                    [rating]="item.rating"
                    [isFavorite]="item.isFavorite"
            ></app-slider-card>
        </app-slider>
        <div class="modal-footer">
            <p class="me-auto">this is footer</p>
        </div>
</app-modal> -->
</div>

<app-wish-list-modal
        *ngIf="show"
        (close)="toggleShow()"
        [show]="show"
        [userId]="'2'"
        class="col-12"
        >
</app-wish-list-modal>


<app-property-swiper [properties]="properties"></app-property-swiper>
