.list-container {
  /* margin-top: 20rem; */
}
.transition-3ms {
  transition: all 0.3s ease;
}

.transition-5ms {
  transition: all 0.5s ease;
}
.transition-1s {
  transition: all 1s ease;
}

/* .slider-card {
  scroll-snap-align: start;
  box-sizing: border-box;
  padding-right: 1rem;
} */

::ng-deep .custom-snackbar {
  z-index: 20000000000000 !important;
}

::ng-deep.cdk-overlay-container {
  z-index: 20000000000000 !important;
}

::ng-deep .custom-snackbar {
  background-color: #ffffff !important;
  color: #333 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  /* border: 1px solid #ccc; */
  font-weight: 500;
}

::ng-deep .mdc-snackbar__surface {
  background-color: #ffff !important;
  color: #333 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  /* border: 1px solid #ccc; */
  font-weight: 500;
}
::ng-deep .mat-mdc-snackbar-surface {
  background-color: #ffff !important;
  color: #333 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  /* border: 1px solid #ccc; */
  font-weight: 500;
}
::ng-deep .mdc-button__label {
  color: var(--airbnb-red) !important;
}
